
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
	
	/* cursor: cell; */
	cursor: url(../images/cross/darkGoldCross2.png) 24 24, auto !important;
}

/* To disable highlight/text selection on everything but X, use this code in tandem. 
   Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
/* p { */
    /* -webkit-user-select: text; */
    /* -khtml-user-select: text; */
    /* -moz-user-select: text; */
    /* -o-user-select: text; */
    /* user-select: text; */
/* } */

body {
	overflow: hidden;
}

#divineName {
	position: fixed;
	z-index: 12;
	height: 150px;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(hsla(50, 50%, 77%,1), hsla(50, 50%, 37%,.5) ,transparent);
	
	text-align: center;
	font-size: 8vmin;
	padding-top: 1vh;
	color: white;
	-webkit-text-stroke: 2px hsla(46, 47%, 56%,.75);
	/* animation: fontMagic 1.5s infinite ease-in-out; */
}

@media only screen and (max-width: 500px) { 
	#divineName {
		font-size: 6.5vmin;
		-webkit-text-stroke: 1px rgba(200,0,0,.3);
		text-shadow: 1px 1px rgba(0,0,0,.5), -1px 1px rgba(0,0,0,.5), -1px -1px rgba(0,0,0,.5), 1px -1px rgba(0,0,0,.5);
	}
	
	#heart {animation: none !important;}
}

#heart {
		animation: wordPulse 5s infinite ease-in-out;
}

#heart:hover {
	text-shadow: 2px 2px rgba(150,0,0,1), -2px 2px gold;
	animation: wordPulse2 2s infinite ease-in-out;
}

@keyframes wordPulse2 { /*While hovering over the word 'heart'*/
	6% {
		font-size: 8.5vmin;
		-webkit-text-stroke: 2px rgba(200,0,0,.3);
	}
	
	12% {
		font-size: 8vmin;
		-webkit-text-stroke: 2px hsla(46, 47%, 56%,.75);
	}
	
	18% {
		font-size: 8.5vmin;
		-webkit-text-stroke: 2px rgba(200,0,0,.3);
	}
	
	36% {
		font-size: 8vmin;
		-webkit-text-stroke: 2px hsla(46, 47%, 56%,.75);
	}
}

@keyframes wordPulse {
	6% {
		font-size: 8.5vmin;
		-webkit-text-stroke: 2px rgba(200,0,0,.3);
	}
	
	12% {
		font-size: 8vmin;
		-webkit-text-stroke: 2px hsla(46, 47%, 56%,.75);
	}
}

/* Shifting sky background */
#sky1 { background: url(../images/clouds1.jpg); }
#sky2 { background: url(../images/clouds2.jpg); }

@media only screen and (max-width: 500px) {  	
	#sky1 {background: url(../images/clouds1_mobile.jpg);}
	#sky2 {background: url(../images/clouds2_mobile.jpg);}
}

#sky1, #sky2 {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#sky2 {
	z-index: 0;
	animation: cloudShift 10s infinite linear;
}

@keyframes cloudShift { 50% {opacity: 0;} }

#columns1
{
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/columns1.gif);
	background-size: 300px 100%;
	background-repeat: repeat-x;
	filter:brightness(150%) sepia(100%);
	animation: filter_shift 3s infinite ease-in-out;
}

@media only screen and (max-width: 500px) {  
	#columns1 {
		background-image: url(../images/columns1_mobile.png);
		background-size: 240px 100%;
		background-repeat: repeat-x;
	}
}




@keyframes filter_shift {
	0% { filter: brightness(150%) contrast(100%) sepia(100%);}	
	50% { filter: brightness(150%) contrast(75%) sepia(200%);}	
	100% { filter: brightness(150%) contrast(100%) sepia(100%);}	
}



#vid-holder {
	position: absolute;
	z-index: 2; /* Appears between sky clouds & columns.*/
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

#video-background {
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  margin: auto;
  display: block;
  position: absolute; 
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  filter: brightness(100%);
  animation: fade-in-out 20s infinite linear;
}

@keyframes fade-in-out {
	0% {opactiy: 0;}
	10% {opacity: .25;}
	90% {opacity: .25;}
	100% {opacity: 0;}
}


#gate1, #gate2, #gate3, #gate4, #gate5 { /*FRAME*/
	position: absolute;
	z-index: 10;
	left: 0;
	/* bottom: 0; */
	width: 100%;
	height: 100%;
	/* background: url(../images/gate1b.png); */
	background: url(../images/gate1.gif);
	background-size: 100% 90%;
	background-repeat: no-repeat;
	background-position: bottom center;
	transition: opacity .75s ease-in;
}

@media only screen and (max-width: 500px) { 
	#gate1 {
		background: url(../images/gate1_mobile.gif);
		background-size: 100% 90%;
		background-repeat: no-repeat;
		background-position: bottom center;
	}  
}

#gate1 { filter: sepia(100%) brightness(90%); }

#gate2 {  background: url(../images/gate2.gif); } /*VANISHING MAIN DOOR*/

@media only screen and (max-width: 500px) { 
	#gate2 { background: url(../images/gate2_mobile.gif); } /*VANISHING MAIN DOOR*/
}

#gate2 {
	z-index: 9;
	background-size: 100% 90%;
	background-repeat: no-repeat;
	background-position: bottom center;
	filter: grayscale(100%) brightness(150%) sepia(100%); /*contrast(75%);*/
	/* animation: fade 10s infinite linear; */
}

#gate3 { /*LEFT DOOR*/
	background: url(../images/gate3.gif);
	z-index: 8;
	background-size: 100% 90%;
	background-repeat: no-repeat;
	background-position: bottom center;
	/* animation: fade 10s infinite linear; */
}

#gate4 { /*RIGHT DOOR*/
	background: url(../images/gate4.gif);
	z-index: 8;
	background-size: 100% 90%;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#gate5 { /*CORRIDOR*/
	background: url(../images/gate5a.gif);
}

@media only screen and (max-width: 500px) { 
	#gate5 {background: url(../images/gate5_mobile.gif);}
}

#gate5 {
	z-index: 7;
	background-size: 100% 80%;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.heavenPulse {
	animation: lightPulse 3s ease-in-out infinite;
}

@keyframes lightPulse {
	50% {
		filter: brightness(140%) sepia(50%); 
		transform: scale(1.01);
	}
}

.gossamer {
	opacity: 0;
}



#mainmenu {
	position: fixed;
	z-index: 13;
	background: linear-gradient(rgba(0,0,0,.5) 50%, transparent 100%);
	border-left: 5px double hsla(49, 100%, 84%, 1.0);
	border-right: 5px double hsla(49, 100%, 84%, 1.0);
	border-top: 5px double hsla(49, 100%, 84%, 1.0);
	top: 200px;
	bottom: 0;
	width: 400px;
	left: calc(50% - 200px);
	padding-top: 60px;
	
	display: block;
	opacity: 0;
	transform: scale(0.01);
}

@media only screen and (max-width: 500px) {  
	#mainmenu {
		width: 200px;
		top: 100px;
		left: calc(50% - 100px);
		padding-top: 10px !important;
	}
}

#mainmenu h5 {
	color: white;
	text-align: center;
	font-size: 4vmin;
	background: red;
	line-height: 0px;
	text-shadow: 2px 2px black, -2px 2px black, -2px -2px black, 2px -2px black;
}

#mainmenu h5:nth-child(odd) {
	opacity: 0;
	margin-left: -1000px;
}

#mainmenu h5:nth-child(even) {
	opacity: 0;
	margin-left: 750px;
}



#mainmenu h5:hover {
	color: black;
	text-shadow: 2px 2px white, -2px 2px white, -2px -2px white, 2px -2px white;
}

/* #mainmenu, #mainmenu h5:hover { */
	
	/* cursor: url(../images/cross/darkGoldCross2.png) 24 24, auto !important; */
/* } */

.manifestMenu {
	display: block !important; 
	opacity:1 !important;
	transform:scale(1) !important;
	transition: all 2s linear !important;
}

.unmanifestMenu {
	display: block !important; 
	opacity:0 !important;
	transform:scale(0) !important;
	transition: all 2s linear !important;
}

.tooltip > .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: rgba(0,0,0,.4);
	text-shadow: none;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
	line-height: initial;
    /* Position the tooltip */
    position: absolute;
	margin-left: 20px;
	margin-top: -13px;
    z-index: 1;
	font-size: 20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*To target Microsoft Edge exclusively (2017)*/
@supports (-ms-ime-align:auto)
 {
	 /*Because Edge has flickering filter problem*/
	#columns1 { filter: unset; animation: none; }
	#gate1, #gate2 {filter: unset;}
	 
	 /* Because for some reason, edge doesn't translate like chrome/firefox */
	#video-background {  transform: translate(-50%, 25%); } 
	
	/* To target edge specifically, because it doesn't support cursor positioning 
	   AND needs a .cur/.ico file. */
	* {cursor: url(../images/cross/ironCrossBlack4.ico),auto;}
	
	#mainmenu h5:hover, #navButtons a:hover, .outreachBG:hover {cursor: url(../images/cross/ironCrossWhite2.cur),auto;}
 }

.fade-away, .fade-away-black, .sermonBG, .aboutBG, .locationBG, .tourBG, .outreachBG, .giveBG {
	position: fixed;
	z-index: 6; /*Behind #gate5/corridor*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 1;
	background: linear-gradient(45deg, gold, silver, white);
	animation: fadein 1.5s linear;
}

.fade-away-black { background: linear-gradient(45deg, black, silver, black); }

.transfade, .transfade2 {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, gold, silver, white);
}

.transfade {
	opacity: 0.1;
	transition: opacity .5s; 
	animation: fadein 1.5s linear; 
}

.transfade2 {
	opacity: 1;
	transition: opacity .5s;
	animation: fadeout 1.5s linear; 
}


/* .fadein { animation: fadein 3s linear; } */
/* .fadeout {animation: fadeout 3s linear;} */

/* Fades in the black background during transitions to new parts of */
@keyframes fadein { 
	0% {opacity:0;} 
	100% {opacity:1;} 
}

@keyframes fadeout { 
	0% {opacity:1;} 
	100% {opacity:0;} 
}

.sermonBG {background: url(../images/sermons.jpg), linear-gradient(45deg, gold, silver, white);}
.aboutBG {background: url(../images/aboutus.jpg), linear-gradient(45deg, gold, silver, white);}
.locationBG {background: url(../images/location.jpg) top, linear-gradient(45deg, gold, silver, white) !important;}
.tourBG {background: url(../images/tourchurch.jpg), linear-gradient(45deg, gold, silver, white);}

@media only screen and (max-width: 500px) {  
	.sermonBG {background: url(../images/sermons_mobile.jpg), linear-gradient(45deg, gold, silver, white);}
	.aboutBG {background: url(../images/aboutus_mobile.jpg), linear-gradient(45deg, gold, silver, white);}
	.locationBG {background: url(../images/location_mobile.jpg) top, linear-gradient(45deg, gold, silver, white) !important;}
	.tourBG {background: url(../images/tourchurch_mobile.jpg), linear-gradient(45deg, gold, silver, white);}
}

.sermonBG, .aboutBG, .locationBG, .tourBG, .outreachBG, .giveBG {
	background-repeat: no-repeat !important;
	background-position: bottom center;
	background-size: cover !important;
	background-attachment: fixed;
	z-index: -1;
	animation: fadein 3s linear;
}

.outreachBG {
	background: url(../images/outreach.jpg),black;
	background-position: bottom;
	background-repeat: no-repeat;
}

.giveBG {
	background: url(../images/giving.jpg) center, linear-gradient(45deg, gold, silver, white);
}

/* BIBLE MENU */
#menuZone { /*Hover-over zone for closing menu*/
	position: fixed;
	z-index: 20 !important;
	right: 0;
	top: 0;
	width: 100px;
	height: 110px;
	/* border: 2px solid white; */
	padding-left: 200px;
}

#menuLines { /* hover-over bible for opening menu*/
   position: absolute;
   /* z-index: 20; */
   display: inline-block; 
   right: 0;
   top: 0;
   font-size: 60px;
   margin-top: 5px;
   margin-right: 10px;
   color: white;
   background: rgba(0,0,0,0);
   border: none;
   /* border: 1px solid blue; */
}

#holy_bible_icon {
	width: 100%;
	height: 100%;
	animation: flashBible 2.5s ease-out infinite;
}

/* #menuLines:hover { animation: flashBible 1s linear infinite; } */
@keyframes flashBible { 50% {filter: invert(50%);} }

#navButtons { /* expanding menu which holds the menu buttons*/
	position: absolute;
	z-index: 14;
	right: 0;
	top: 100px;
	height: 0px;
	width: 300px;
	text-align: center;
	border-radius: 6px; 
	/* background: linear-gradient(45deg, hsla(30, 61%, 50%,.5) 60%, rgba(255,255,255,.75),silver), url(../images/clouds1.jpg) center; */
}

#navButtons a { /* each button in the expanding menu*/
	display: block;
	font-size: 40px;
	text-decoration: none;
	margin: 13px 20px;
	display: none;
	-webkit-text-stroke: 2px rgba(0,0,0,.3);
	color: white;
	text-shadow: 1px 1px black;
	border: 3px double rgba(255,255,255,.5);
}

#navButtons a:hover {
	color: rgba(0,0,0,.5);
	-webkit-text-stroke: 2px rgba(255,255,255,.3);
	text-shadow: 2px 2px white;
}

@media only screen and (max-width: 1010px) { 
	#menuZone {top: 85px; padding-left: 50px;}
	/* #menuLines { top: 85px; }  */
	#navButtons { top: 90px;}
}

@media only screen and (max-width: 500px) { 
	#menuLines {margin-top: 40px;}
	#navButtons { top: 110px;}
	#navButtons a { 
		font-size: 20px;
		/* color: white; */
		-webkit-text-stroke: 1px rgba(0,0,0,.3);
		text-shadow: 1px 1px rgba(0,0,0,.5);
	}
	#menuZone {top: 0px; padding-left: 50px;}
}

/* MENU PAGES */
.pageTit {
	position: absolute;
	left: calc(50% - 17%);
	top: 100px;
	width: 34%;
	min-height: 60px;
	z-index: 0;
	color: white;
	font-size: 5vmin;
	background: linear-gradient(45deg, transparent,hsla(50, 50%, 37%,.75),transparent);
	border-radius: 90px;
	text-align: center;
	line-height: 5vmin;
	padding-top: 30px;
	border-bottom: 5px double rgba(255,255,255,.6);
	-webkit-text-stroke: 2px rgba(0,0,0,.3);
	text-shadow: 1px 1px black;
}

.dataBody { /* outer, positioning div*/
	position: absolute;
	left: 10%;
	width: 80%;
	z-index: 0;
	top: 300px;
	color: white;
	font-size: 3vmin;
	text-shadow: 1px 1px black;
	animation: fadein 3s linear;
}

.subdatabody { /*inner, item-holding div*/
	background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.55),rgba(0,0,0,.8));
	border: 1px solid white;
	border-radius: 6px;
	padding: 20px 20px;
	margin-bottom: 70%;
}

.image_holder {
	width: 50%;
	margin-left: 25%;
}

.subtalk img {
	border: 6px double white;
	text-align: center;
	width: calc(100% - 12px);
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* .spacing {height: 100px; width: 100%;} */

.viewer, #viewer {
	border: 3px double white;
	padding: 15px;
	background: rgba(255,255,255,.3);
	height: 100%;
	overflow: auto;
}

.aboutDiv {
	border: 3px double white;
	padding: 15px;
	animation: fadein 1.5s linear;
}

.aboutDiv h3 {text-align: center;}

.about_left_arrow, 
.about_right_arrow {
	font-size: 5vmin;
	border-radius: 6px;
	padding: 0 50px;
	margin-top: 15px;
	border: 2px solid black;
	position: absolute;
	z-index: 19;
}

@media only screen and (max-width: 700px) {
	.about_left_arrow, .about_right_arrow {
		padding: 0 3vw;
		border: 1px solid white;
	}
}

.about_left_arrow { left: 50px; }
.about_right_arrow { right: 50px; }

.about_left_arrow:hover, 
.about_right_arrow:hover {
	border: 2px solid cyan;
	color: cyan;
}

.about_left_arrow:active, 
.about_right_arrow:active {
	background: rgba(255,255,255,.4);
} 

#subscreen {
	text-shadow: 2px 2px black, -2px 2px black, -2px -2px black, 2px -2px black;
	font-size: 3.5vmin;
	text-align: center;
	transition: all .5s linear;
}

@media only screen and (max-width: 500px) { 
	#subscreen {
		text-shadow: 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
	}
}

#helperPrompt1, #helperPrompt2 {
	position: fixed; 
	z-index: 19;
	top: 250px;
	left: calc(30% - 22px);
	width: 40%;
	background: rgba(0,0,0,.4);
	border-radius: 20px;
	border: 2px solid white;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 3vmin;
	padding: 20px;
}

#helperPrompt2 {top: 300px;}

#map {
	margin: auto;
	 height: 70vh;
	 width:90%;
	 border-radius: 10px;
	 opacity: 1;
	 color:rgba(0,0,0,.25);
	 border: 3px double;
}

.map {
	background: rgba(155,155,155,.4);
	font-size: 3.5vw;
	text-align: center;
	text-shadow: 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.map font {font-size: 2vw;}

.map p { margin: 20px 0;}

.map:hover, .map *:hover {
	cursor: pointer; /* cursor: url(../images/cross/ironCrossWhite2.cur),auto !important; */
}

.outreach, .i2, .i3, .i4 {
	background: url(../images/outreach/outreach1.jpg);
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	/* background-attachment: fixed; */
	width: 100%;
	height: 1000px;
}

.outreach {border: 3px solid white;}

.i2 {
	background: url(../images/outreach/outreach2.jpg);
	opacity: 0;
	/* border: 3px double green; */
}

@media only screen and (max-width: 500px) {  
	.i2 {
		background: url(../images/outreach/outreach2_mobile.jpg);
		opacity: 0;
	}
}

.i3 {
	background: url(../images/outreach/outreach3.jpg);
	opacity: 0;
}

.i4 {
	background: url(../images/outreach/outreach4.jpg);
	opacity: 0;
}

.o_words {
	/* background: rgba(0,0,0,.35); */
	width: calc(100% - 75px);
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 3vmax;
	left: 30px;
	text-align: center;
	color: white;
	font-size: 4vmin;
	padding: 10px;
	border-radius: 6px;
}

#giveDiv img{
	width: 100%;
	border: 3px double green;
	border-radius: 6px;
	margin-left: -3px;
}

/* .giveTom { */
	/* background: url(../images/giving/giving.jpg); */
	/* width: 100%; */
	/* height: 100%; */
/* } */

#sermonDiv {
	border: 6px double rgba(255,255,255,.75);
	border-radius: 6px;
	padding: 20px;
}

.runRight {	
	background-position: -1000% !important;
	transition: background-position 10s ease-in !important;
}

.runLeft {	
	background-position: 1000% !important;
	transition: background-position 10s ease-in !important;
}

.scrollLeft {
	transform: translate(-100%) !important;
	transition: all 3s linear !important;
}

.scrollRight {
	transform: translate(100%) !important;
	transition: all 3s linear !important;
}

.descent {
	opacity: 0;
	transform: translate(0px, 300%) !important;
	transition: all 7s ease-in !important;
}

.ascent {
	opacity: 0;
	transform: translate(0px, -300%) !important;
	transition: all 7s ease-in !important;
}

.zoomSky {
	transform:scale(4);
	opacity:0;
	transition:all 14s ease-in;
}