<div class="subdatabody map">
	<p>Look here to discover our location <br/> 
		<font>Drag the yellow man from the top-left into the orange circle to see a more personalized view.</font>
	</p>
	<div id="map"></div>
	
	<script>
		// $scope.googleMapsUrl="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZbjCNPAVZDtV5jRPvRXw999mW8jZGueU";
		//These below are used to set the details of the hotel.html map. 
		var address = {lat: 41.825017, lng: -71.411064};
		var mapOptions = {
			zoom: 20,
			center: address,
			mapTypeControl: true,
			mapTypeControlOptions: {
				style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
				position: google.maps.ControlPosition.TOP_CENTER
			},
			zoomControl: true,
			zoomControlOptions: {
				position: google.maps.ControlPosition.LEFT_CENTER
			},
			scaleControl: true,
			streetViewControl: true,
			streetViewControlOptions: {
				position: google.maps.ControlPosition.LEFT_TOP
			},
			fullscreenControl: true,
			mapTypeId: google.maps.MapTypeId.HYBRID
		}
		
		var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		// Add the circle for this city to the map.    
		var cityCircle = new google.maps.Circle({    
		  strokeColor: 'orange',    
		  strokeOpacity: 0.8,    
		  strokeWeight: 2,    
		  fillColor: '#FF0000',    
		  fillOpacity: 0.15,    
		  map: map,    
		  center: address,    
		  radius: 19.45454,  
		  draggable:false  
		});
		
	</script>
</div>