<div class="subdatabody">

	<div id="viewer" class="viewer">
		<font id="arrowL" class="about_left_arrow">&#8592;</font>	
		<font id="arrowR" class="about_right_arrow">&#8594;</font>
		<div id="screen" class="screen">
			<div id="subscreen"></div>
		</div>
	</div>

	<script>
		var arw;
		var learnDiv = '<div class="aboutDiv"><h3>Learn</h3><p>Sacred Heart is a special church, seeking to celebrate the glory of the divine.<p><p>We embrace technology, and believe intuitive, interactive & aesthetic design improve our ability to connect with the younger generation.</p><p>As seasons pass, like winter gives way to spring, and spring to summer, from old to new, our online social presence reprents our respect of this inevitable fact.</p></div>';
		
		var laughDiv = '<div class="aboutDiv"><h3>Laugh</h3><p>Laughter is the mark of happiness<p><p>We believe laughter is the best medicine. Essential for a complete & full life.</p><p>Won\'t you join us in sharing a bowl of mirth & festivities?</p></div>';
		
		var loveDiv = '<div class="aboutDiv"><h3>Love</h3><p>Love is the essential essence which binds together all living beings, connecting them with one another.<p><p>To share in love, overflowing, is to take part in a meaningful existence, to increase the value of one\'s life and the world around you.</p><p>We merrily invite you to share in the light & love of the divine.</p></div>';
		
		var viewerArray = [learnDiv,laughDiv,loveDiv]; //array of html strings
		var index = 0; //index to viewer array
		
		var learnIMG = ['learn1.jpg','learn2.jpg']; 
		var laughIMG = ['laugh1.jpg','laugh2.jpg'];
		var loveIMG = ['love1.jpg','love2b.jpg','love3a.jpg'];
		var root = './images/about/';
		
		$('#arrowL, #arrowR').click(arrowHandler);
		
		function arrowHandler() {
			arw = this.id; 
			$('#screen').css({transform: 'rotateY(360deg)', transition:'all 1s ease-in-out'});
			setTimeout(function(){ if(arw=='arrowL') changeView(-1); else changeView(1); },500);
			setTimeout(function(){ $('#screen').css({transform: 'rotateY(0deg)', transition:''}); },1010);
		}

		function chooseBG(ix) { //choose BG image based on which viewerArray is selected.
			var val=0;
			var img='';
			var pos='center'; //background position
			var bs = 'cover'; //background size
			
			if(ix==0) //learn
			{
				val = Math.floor(Math.random()*learnIMG.length);
				img = learnIMG[val]; //center pos by default 
			}
			else if(ix==1) //laugh
			{
				val = Math.floor(Math.random()*laughIMG.length);
				img = laughIMG[val];
				
				if(val==0) {
					pos='center center'; //pug photo adjusted.
					bs = 'cover';
				}
				else if(val==1) {
					pos='center center'; //pug photo adjusted.
					<!-- bs = '100%'; -->
				}
			}
			else if(ix==2) //love
			{
				val = Math.floor(Math.random()*loveIMG.length);
				img = loveIMG[val];
				
				<!-- if(val==1) pos='top left'; -->
			}
			
			$('.aboutDiv').css({background:'url('+root+img+')', 
				backgroundSize: bs, 
				backgroundPosition: pos,
				backgroundRepeat: 'no-repeat' });
		}
		
		function changeView(dir) {
			index += dir; //increment index...
			if(index<0) index = viewerArray.length-1; //bounds handlers...low
			if(index>viewerArray.length-1) index = 0; //bounds handlers...high
			$('#subscreen').html(viewerArray[index]);<!-- loadViewer(); -->
			chooseBG(index);
		}
		changeView(0);
	</script>
	
</div>
