<div id="divineName">Sacred <font id="heart">Heart</font> of Jesu-Krysto</div>

<img id="sky1">
<img id="sky2">
<div id="vid-holder">

	<video autoplay id="video-background" plays-inline>This will play webm first, and will play mp4 on media that doesn"t recognize webm, ideally.<source src="/video/FallingFeathers.mp4" type="video/mp4"><source src="/video/FallingFeathers.webm" type="video/webm">Your browser does not support the video tag.</video>

</div>

<img id="columns1"> 
<img id="gate1" class="gossamer"> 
<img id="gate2" class="gossamer"> 

<div id="gate3" class="gossamer"></div> 
<div id="gate4" class="gossamer"></div> 
<div id="gate5" class="gossamer"></div>

<div id="mainmenu"> 
	<h5 id="sermon" class="tooltip">Sermons <span class="tooltiptext">Go here to learn about our sermons of past, present & future.</span></h5> <h5 id="about" class="tooltip">About <span class="tooltiptext">Go here to learn about our goals, our mission, and why this divine building stands tall.</span></h5> <h5 id="location" class="tooltip">Location <span class="tooltiptext">Go here to find out where we are.</span></h5> <h5 id="tour" class="tooltip">Tour Church <span class="tooltiptext">Click here to take a tour of our grounds.</span></h5> <h5 id="outreach" class="tooltip">Outreach <span class="tooltiptext">Click here to see how we improve to our community.</span></h5> <h5 id="give" class="tooltip">Giving <span class="tooltiptext">Click here to learn how you can get involved in making a better world.</span></h5> 
</div>