<video autoplay id="video-background" plays-inline>
		This will play webm first, and will play mp4 on media that doesn't recognize webm, ideally.
		<source src="../video/FallingFeathers.mp4" type="video/mp4">
	  <source src="../video/FallingFeathers.webm" type="video/webm">
	  <!-- <source src="/video/TeamIntuitionIntro.webm" type="video/webm"> -->
	  Your browser does not support the video tag.
	</video>
			
	<script> //When video ends, alter its orientation, then restart it.
		var vidH = $('#vid-holder');
		var vidB = $('#video-background');
		var video = document.getElementById('video-background');
		
		//0 = down, 1= flipped/down, 2 = up, 3 = flipped/up, 4 = flow left, 5 = flow right 
		//note that that last 2 positions aren't used, but are still functional...
		//whenever the RNG lands on 4/5, alt code is run.
		var transforms = ['rotateY(0deg) rotateX(0deg)', 'rotateY(180deg)', 'rotateX(180deg)','rotateX(180deg) rotateY(180deg)','xx','xxx'];
		var tranlen = transforms.length;
		var nextDir = 0;
		
		<!-- console.log(vidB); -->
		document.querySelector('video').playbackRate = 1;
		
		vidB.on('ended',function(){ //after video ends...
		  nextDir = Math.floor(Math.random() * tranlen-1);
		  if(nextDir==4 || nextDir==5)
		  {
			//rotate vid-holder back to default pos, if changed.
			vidH.css('transform', 'rotateY(0deg) rotateX(0deg)'); 
			//rotate vid-background, instead this time.
			if(nextDir==4) vidB.css('transform', 'rotateZ(90deg) scale(1,4.5)');
			else vidB.css('transform', 'rotateZ(-90deg) scale(1,4.5)');
		  }
		  else 
		  {
			//reset video-background back to default value, if changed.
			vidB.css('transform',''); 
			//flip vid-holder > feather vid in random orientation.
			vidH.css('transform', transforms[nextDir]); 
		  }
		  
		  video.pause(); //restart time to beginning
		  video.currentTime = 0;
		  video.play(); 
		});
	</script>